<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294449175412-4kpuqoknotmj1rbsii7dctr6h548kb3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294449175412-4kpuqoknotmj1rbsii7dctr6h548kb3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBARw4kTg8f6QZ_IhCir8PJKylUJ8gN_oM</string>
	<key>GCM_SENDER_ID</key>
	<string>294449175412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bonnie.iOSFinal</string>
	<key>PROJECT_ID</key>
	<string>final2-3da54</string>
	<key>STORAGE_BUCKET</key>
	<string>final2-3da54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294449175412:ios:cf333beec46b2cbb862a21</string>
</dict>
</plist>